@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Bricolage Grotesque', sans-serif;
}

code {
    font-family: 'JetBrains Mono', monospace;
}

.active-link {
    @apply bg-purple-100 text-purple-700 font-medium;
}

.section-content {
    transition: opacity 0.5s ease-in-out;
}

.fade-in {
    opacity: 1;
}

.fade-out {
    opacity: 0;
}

html {
    scroll-behavior: smooth;
}